@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div {
  background: #F6FAFE;
}

.header {
  padding: 32px 0px;
  position: fixed;
  width: 100%;
  top: 0;
}
.header > .in {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header .icon {
  background: url("../img/小桃頭貼.png") no-repeat;
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
}
.header .nav {
  display: flex;
  align-items: center;
}
.header .nav li a {
  font-size: 1rem;
  font-family: "Noto Sans TC";
  font-weight: 700;
  color: #0A95C3;
  padding: 12px 10px;
  margin-left: 8px;
}
.header .nav li a:hover {
  background: #EAEEF2;
  border-radius: 16px;
}

.aboutme {
  border-bottom: solid #CAC4D0 1px;
  padding-top: 114px;
}
.aboutme > .in {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 66px 0px;
}
.aboutme .photo {
  background: url("../img/頭貼.jpg") no-repeat;
  width: 100%;
  border-radius: 8px;
  background-size: cover;
  padding-bottom: 35%;
  background-position: center;
  border: solid #999999 1px;
}
.aboutme .content {
  padding: 32px 0px;
  padding-left: 68px;
}
.aboutme .content h3 {
  font-size: 1.5rem;
  font-family: "Noto Sans TC";
  font-weight: 700;
  color: #000;
  padding-bottom: 16px;
}
.aboutme .content p {
  font-size: 1rem;
  font-family: "Noto Sans TC";
  font-weight: 400;
  line-height: 1.5rem;
}
.aboutme .content .panding {
  padding: 16px 0px;
}

.projects {
  text-align: center;
  padding: 66px 0px;
  border-bottom: solid #CAC4D0 1px;
}
.projects > .in {
  max-width: 1000px;
  margin: 0 auto;
}
.projects .title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects .title .line {
  width: 128px;
  height: 1px;
  border-top: solid #CAC4D0 1px;
}
.projects .title h4 {
  font-family: "Noto Sans TC";
  font-size: 2rem;
  padding: 16px 15px;
}
.projects .project {
  display: flex;
  justify-content: space-between;
  padding: 32px 0px;
}
.projects .project p {
  font-family: "Noto Sans TC";
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #000;
  padding: 12px 0px;
  text-align: left;
}
.projects .project .project1 {
  width: 32%;
}
.projects .project .project1 .img1 {
  background: url("../img/ing1.png") no-repeat;
  width: 100%;
  background-size: cover;
  padding-bottom: 65%;
  border: solid #CAC4D0 1px;
  border-radius: 8px;
}
.projects .project .project1:hover {
  text-decoration: underline;
}
.projects .project .project2 {
  width: 32%;
}
.projects .project .project2 .img2 {
  background: url("../img/img2.png") no-repeat;
  width: 100%;
  background-size: cover;
  background-position: 0px -10px;
  padding-bottom: 65%;
  border: solid #CAC4D0 1px;
  border-radius: 8px;
}
.projects .project .project2:hover {
  text-decoration: underline;
}
.projects .project .project3 {
  width: 32%;
}
.projects .project .project3 .img3 {
  background: url("../img/img3.png") no-repeat;
  width: 100%;
  background-size: cover;
  padding-bottom: 65%;
  border: solid #CAC4D0 1px;
  border-radius: 8px;
}
.projects .project .project3:hover {
  text-decoration: underline;
  box-sizing: border-box;
}
.projects .more {
  background: #0A95C3;
  font-family: "Noto Sans TC";
  font-size: 1rem;
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  display: inline-block;
}
.projects .more:hover {
  opacity: 0.8;
}

.footer {
  padding: 66px 0px;
}
.footer > .in {
  max-width: 1000px;
  margin: 0 auto;
}
.footer .h1 {
  font-family: "Noto Sans TC";
  font-size: 1.75rem;
  font-weight: 700;
  padding: 0PX 0PX 40PX 0PX;
}
.footer .h2 {
  font-family: "Noto Sans TC";
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0PX 0PX 32PX 0PX;
  color: #4C4136;
}
.footer .h2 ul {
  display: flex;
  padding-top: 14px;
}
.footer .h2 ul li {
  padding-right: 12px;
}
.footer .h2 ul li img {
  box-shadow: 0px 1px 3px 1px #c4c4c4;
  border-radius: 8px;
  transition: all 0.5s;
}
.footer .h2 ul li img:hover {
  box-shadow: 0px 0.5px 1.5px 0.5px #c4c4c4;
}
.footer .h3 {
  font-family: "Noto Sans TC";
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: end;
  line-height: 1.5rem;
  color: #4C4136;
}
.footer .h3 p {
  font-size: 1rem;
}
.footer .h3 .mail {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
}

@media screen and (max-width: 834px) {
  .header .in {
    padding: 0px 16px;
  }
  .aboutme > .in {
    flex-direction: column;
  }
  .aboutme .photo {
    width: 40%;
    padding-bottom: 40%;
  }
  .aboutme .content {
    padding: 32px 16px;
  }
  .projects .project {
    flex-direction: column;
    padding: 16px 16px;
  }
  .projects .project .project1, .projects .project .project2, .projects .project .project3 {
    width: 100%;
    padding: 16px 0px;
  }
  .projects .project .project1 .img2, .projects .project .project2 .img2, .projects .project .project3 .img2 {
    background-position: 0px -20px;
  }
  .footer .in {
    padding: 0px 16px;
  }
  .footer .h1 {
    line-height: 2rem;
  }
  .footer .h3 {
    flex-direction: column;
    align-items: start;
  }
  .footer .h3 p {
    padding-top: 16px;
  }
}/*# sourceMappingURL=style.css.map */